<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/47b81c9b5a.js" crossorigin="anonymous"></script>
    <title>Carrito de Compras</title>
</head>
<body>
   <header>
       <div class="header-container"></div>
        <i class="header-container-item"><img src="" alt="Logo-Tienda"></i>
       <nav class="nav-container">
            <ul>
                <li class="nav-flex-item"><i class="fa-solid fa-magnifying-glass"></i></li>
                <li class="nav-flex-item"><i class="fa-solid fa-bookmark"></i></li>
                <li class="nav-flex-item"><i class="fa-solid fa-cart-shopping"></i></li>
                <li class="nav-flex-item"><i class="fa-solid fa-bars"></i></li>
            </ul>
        </nav>
   </header>
   <body>
       <section>
           <article>

           </article>
           <article>

           </article>
           <article>

           </article>
       </section>
   </body>
   <footer>

   </footer>
</body>
</html>