<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/47b81c9b5a.js" crossorigin="anonymous"></script>
    <title>Carrito de Compras</title>
</head>
<body>
   <header>
        <i><img src="" alt="Logo-Tienda"></i>
        <i class="fa-solid fa-magnifying-glass"></i>
        <i class="fa-solid fa-bookmark"></i>
        <i class="fa-solid fa-cart-shopping"></i>
        <i class="fa-solid fa-bars"></i>
   </header>
   <body>
       <section>
           <article>

           </article>
           <article>

           </article>
           <article>

           </article>
       </section>
   </body>
   <footer>

   </footer>
</body>
</html>