<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script
      src="https://kit.fontawesome.com/b7372bc3ff.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <a href="/views/login.html">Header</a>

    <!-- Carrousel -->
    <section class="carrousel">
      <article class="conteCarrousel">
        <div class="itemCarrousel" id="itemCarrousel-1">
          <div class="itemCarrouselTarjeta">
            <img
              class="itemCarrousel-img"
              src="/images/carrusel-img-1.jpg"
              alt=""
            />
          </div>
          <div class="itemCarrouselArrows">
            <a href="#itemCarrousel-3">
              <i class="fas fa-chevron-left"></i>
            </a>
            <a href="#itemCarrousel-2">
              <i class="fas fa-chevron-right"></i>
            </a>
          </div>
        </div>
        <div class="itemCarrousel" id="itemCarrousel-2">
          <div class="itemCarrouselTarjeta">
            <img
              class="itemCarrousel-img"
              src="images/carrusel-img-2.jpg"
              alt=""
            />
          </div>
          <div class="itemCarrouselArrows">
            <a href="#itemCarrousel-1">
              <i class="fas fa-chevron-left"></i>
            </a>
            <a href="#itemCarrousel-3">
              <i class="fas fa-chevron-right"></i>
            </a>
          </div>
        </div>
        <div class="itemCarrousel" id="itemCarrousel-3">
          <div class="itemCarrouselTarjeta">
            <img
              class="itemCarrousel-img"
              src="/images/carrusel-img-3.jpg"
              alt=""
            />
          </div>
          <div class="itemCarrouselArrows">
            <a href="#itemCarrousel-2">
              <i class="fas fa-chevron-left"></i>
            </a>
            <a href="#itemCarrousel-1">
              <i class="fas fa-chevron-right"></i>
            </a>
          </div>
        </div>
      </article>
    </section>

    <!-- PRODUCTOS -->
    <h1 class="titulo">PRODUCTOS DESTACADOS</h1>

    <!-- Linea -->
    <center>
      <hr />
    </center>
    <section class="contenedor-productos">
      <div class="item-caja">
        <img src="/images/img-zapato.webp" alt="" />
        <p>Producto 1</p>
        <p>Precio: 11.000$</p>
      </div>
      <div class="item-caja">
        <img src="/images/img-zapato.webp" alt="" />
        <p>Producto 2</p>
        <p>Precio: 12.000$</p>
      </div>
      <div class="item-caja">
        <img src="/images/img-zapato.webp" alt="" />
        <p>Producto 3</p>
        <p>Precio: 14.000$</p>
      </div>
      <div class="item-caja">
        <img src="/images/img-zapato.webp" alt="" />
        <p>Producto 4</p>
        <p>Precio: 11.000$</p>
      </div>
      <div class="item-caja">
        <img src="/images/img-zapato.webp" alt="" />
        <p>Producto 5</p>
        <p>Precio: 9.000$</p>
      </div>
      <div class="item-caja">
        <img src="/images/img-zapato.webp" alt="" />
        <p>Producto 6</p>
        <p>Precio: 14.000$</p>
      </div>
      <div class="item-caja">
        <img src="/images/img-zapato.webp" alt="" />
        <p>Producto 7</p>
        <p>Precio: 40.000$</p>
      </div>
      <div class="item-caja">
        <img src="/images/img-zapato.webp" alt="" />
        <p>Producto 8</p>
        <p>Precio: 11.000$</p>
      </div>
    </section>
    <!-- carrousel ofertas -->

    <section class="carrousel-ofertas">
      <article class="conte-carrousel-ofertas">
        <div class="item-carrousel-ofertas" id="item-carrousel-ofertas-1">
          <div class="item-carrousel-Tarjeta-ofertas">
            <img
              class="itemCarrousel-img"
              itemCarrousel-img
              src="/images/carrusel-img-1.jpg"
              alt=""
            />
          </div>
          <div class="item-carrousel-arrows-ofertas">
            <a href="#item-carrousel-ofertas-3">
              <i class="fas fa-chevron-left"></i>
            </a>
            <h2>OFERTAS</h2>
            <a href="#item-carrousel-ofertas-2">
              <i class="fas fa-chevron-right"></i>
            </a>
          </div>
        </div>
        <div class="item-carrousel-ofertas" id="item-carrousel-ofertas-2">
          <div class="item-carrousel-Tarjeta-ofertas">
            <img
              class="itemCarrousel-img"
              src="images/carrusel-img-2.jpg"
              alt=""
            />
          </div>
          <div class="item-carrousel-arrows-ofertas">
            <a href="#item-carrousel-ofertas-1">
              <i class="fas fa-chevron-left"></i>
            </a>
            <a href="#item-carrousel-ofertas-3">
              <i class="fas fa-chevron-right"></i>
            </a>
          </div>
        </div>
        <div class="item-carrousel-ofertas" id="item-carrousel-ofertas-3">
          <div class="item-carrousel-Tarjeta-ofertas">
            <img
              class="itemCarrousel-img"
              src="/images/carrusel-img-3.jpg"
              alt=""
            />
          </div>
          <div class="item-carrousel-arrows-ofertas">
            <a href="#item-carrousel-ofertas-2">
              <i class="fas fa-chevron-left"></i>
            </a>
            <a href="#item-carrousel-ofertas-1">
              <i class="fas fa-chevron-right"></i>
            </a>
          </div>
        </div>
      </article>
    </section>
    <div class="puntos-carrusel-contralador">
      <a href="#item-carrousel-ofertas-1">•</a>
      <a href="#item-carrousel-ofertas-2">•</a>
      <a href="item-carrousel-ofertas-3">•</a>
    </div>

    <!-- newsletter -->

    <h3 class="newsletter-titulo">NUESTRO NEWSLETTER</h3>

    <form action="#" method="POST" class="create-form">
      <div class="control-formulario">
        <input type="text" placeholder="Email" name="" id="" class="control" />
      </div>

      <button class="boton-formulario">Inscribirse</button>
    </form>

    <h3 class="newsletter-titulo">@ NUESTRO NEWSLETTER</h3>

    <div class="newsletter-contenedor__iconos">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
    </div>

    <!-- Carrousel Envios -->

    <div class="color-de-fondo">
      <section class="carrousel-envios">
        <article class="conte-carrousel-envios">
          <div class="item-carrousel-envios" id="carrousel-envios-1">
            <div class="item-carrousel-tarjetas-envios">
              <div class="carrousel-envios-contenedor">
                <i class="fa-solid fa-credit-card icono-credit-card"></i>
                <p>Pagos y envios</p>
                <a href="#" class="carrousel-link-ver-mas">Ver más</a>
              </div>
            </div>
            <div class="item-carrousel-arrows">
              <a href="#carrousel-envios-3">
                <i class="fas fa-chevron-left"></i>
              </a>
              <a href="#carrousel-envios-2">
                <i class="fas fa-chevron-right"></i>
              </a>
            </div>
          </div>
          <div class="item-carrousel-envios" id="carrousel-envios-2">
            <div class="item-carrousel-tarjetas-envios">
              <div class="carrousel-envios-contenedor">
                <i class="fa-solid fa-file-lines icono-credit-card"></i>
                <p>Contactanos</p>
                <a href="#" class="carrousel-link-ver-mas">Ver más</a>
              </div>
            </div>
            <div class="item-carrousel-arrows">
              <a href="#carrousel-envios-1">
                <i class="fas fa-chevron-left"></i>
              </a>
              <a href="#carrousel-envios-3">
                <i class="fas fa-chevron-right"></i>
              </a>
            </div>
          </div>
          <div class="item-carrousel-envios" id="carrousel-envios-3">
            <div class="item-carrousel-tarjetas-envios">
              <div class="carrousel-envios-contenedor">
                <i class="fa-solid fa-wrench icono-credit-card"></i>
                <p>¿Como Cuidarlos?</p>
                <a href="#" class="carrousel-link-ver-mas">Ver más</a>
              </div>
            </div>
            <div class="item-carrousel-arrows">
              <a href="#carrousel-envios-2">
                <i class="fas fa-chevron-left"></i>
              </a>
              <a href="#carrousel-envios-1">
                <i class="fas fa-chevron-right"></i>
              </a>
            </div>
          </div>
        </article>
        <div class="puntos-carrusel-contralador-2">
          <a href="#carrousel-envios-1">•</a>
          <a href="#carrousel-envios-2">•</a>
          <a href="carrousel-envios-3">•</a>
        </div>
      </section>
    </div>

    <!-- Footer -->
    <div class="contendero-footer">
      <footer class="footer">
        <section class="footer-contenedor-ul">
          <h4 class="footer-contenedor__titulo">Titulo</h4>
          <ul class="footer-lista">
            <li class="lista-link"><a class="lista-link" href=""> link </a></li>
            <li class="lista-link"><a class="lista-link" href="">link </a></li>
            <li class="lista-link"><a class="lista-link" href="">link </a></li>
            <li class="lista-link"><a class="lista-link" href="">link </a></li>
            <li class="lista-link"><a class="lista-link" href="">link </a></li>
            <li class="lista-link"><a class="lista-link" href="">link </a></li>
          </ul>
        </section>

        <section class="footer-contenedor-ul">
          <h4 class="footer-contenedor__titulo">Titulo-2</h4>
          <ul class="footer-lista">
            <li class="lista-link"><a class="lista-link" href="">link</a></li>
            <li class="lista-link"><a class="lista-link" href="">link </a></li>
            <li class="lista-link"><a class="lista-link" href="">link </a></li>
          </ul>
        </section>

        <section class="footer-contenedor-ul">
          <h4 class="footer-contenedor__titulo">Titulo-3</h4>
          <ul class="footer-lista">
            <li class="lista-link"><a class="lista-link" href="">link </a></li>
            <li class="lista-link"><a class="lista-link" href=""> link</a></li>
            <li class="lista-link"><a class="lista-link" href=""> link</a></li>
          </ul>
        </section>
      </footer>
    </div>

    <section class="footer-copy">
      <h6>Copyright X cruz - 2022.</h6>
    </section>
  </body>
</html>
