<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script
      src="https://kit.fontawesome.com/b7372bc3ff.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
 <header>
      <div class="announcement-container"></div>
      <div class="account-container">
        <span class="item">
          <a href="#">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            <small class="text uppercase">Crear cuenta</small>
          </a>
        </span>
        <span class="item">
          <a href="/login">
            <i class="fa-solid fa-address-card"></i>
            <small class="text uppercase">Iniciar sesión</small>
          </a>
        </span>
      </div>
      <!--Main Header-->
      <div class="header-container">
        <!--Main Header - Left-->
        <i>
          <a href="/">
            <img src="/images/logo.svg" alt="Logo-Tienda" class="img-logo" />
          </a>
        </i>
        <!--Main Header - Center-->
        <nav class="nav-container-2">
          <ul>
            <li class="nav-item">
              <a href="/" class="uppercase">Home</a>
            </li>
            <li class="nav-item">
              <a href="#" class="uppercase">Zapatos</a>
            </li>
            <li class="nav-item">
              <a href="#" class="uppercase">Sucursales</a>
            </li>
            <li class="nav-item">
              <a href="#" class="uppercase">Nosotros</a>
            </li>
            <li class="nav-item">
              <a href="#" class="uppercase">Contacto</a>
            </li>
          </ul>
        </nav>
        <!--Main Header - Right-->
        <nav class="nav-container">
          <ul>
            <li class="nav-item">
              <a href="#">
                <i class="fa-solid fa-magnifying-glass"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="#">
                <i class="fa-solid fa-bookmark"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="/cart">
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
            </li>
            <li class="nav-item toggle">
              <a href="#">
                <i class="fa-solid fa-bars"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <div class="contenedor-login">
        <div class="wrapper">
          <!-- <div class="title"><span>Login Form</span></div> -->
          <form class="wrapper-form" action="#">
            <div class="row">
              <i class="icono-login fas fa-user"></i>
              <input type="text" placeholder="Nombre de Usuario" required />
            </div>
            <div class="row">
              <i class="icono-login fas fa-lock"></i>
              <input type="password" placeholder="Contraseña" required />
            </div>
            <div class="pass"><a href="#">¿Has olvidado tu contraseña?</a></div>
            <div class="row button">
              <input type="submit" value="Inicia sesión" />
            </div>
            <div class="signup-link">¿No eres Miembro?</div>
            <div class="row button2">
              <input type="submit" value="Crear Cuenta" />
            </div>
            <div class="signup-link">O</div>
            <div class="row button3">
              <input type="submit" value="Continuar con Google" />
            </div>
          </form>
        </div>
      </div>
    </main>

     <div class="contendero-footer-home">
      <footer class="footer-home">
        <section class="footer-contenedor-ul">
          <h4 class="footer-contenedor__titulo">Titulo</h4>
          <ul class="footer-lista">
            <li class="lista-link"><a class="lista-link" href=""> link </a></li>
            <li class="lista-link"><a class="lista-link" href="">link </a></li>
            <li class="lista-link"><a class="lista-link" href="">link </a></li>
            <li class="lista-link"><a class="lista-link" href="">link </a></li>
            <li class="lista-link"><a class="lista-link" href="">link </a></li>
            <li class="lista-link"><a class="lista-link" href="">link </a></li>
          </ul>
        </section>

        <section class="footer-contenedor-ul">
          <h4 class="footer-contenedor__titulo">Titulo-2</h4>
          <ul class="footer-lista">
            <li class="lista-link"><a class="lista-link" href="">link</a></li>
            <li class="lista-link"><a class="lista-link" href="">link </a></li>
            <li class="lista-link"><a class="lista-link" href="">link </a></li>
          </ul>
        </section>

        <section class="footer-contenedor-ul">
          <h4 class="footer-contenedor__titulo">Titulo-3</h4>
          <ul class="footer-lista">
            <li class="lista-link"><a class="lista-link" href="">link </a></li>
            <li class="lista-link"><a class="lista-link" href=""> link</a></li>
            <li class="lista-link"><a class="lista-link" href=""> link</a></li>
          </ul>
        </section>
      </footer>
    </div>

    <section class="footer-copyright-home">
      <h6>Copyright X cruz - 2022.</h6>
    </section>

    <!-- /login -->
  </body>
</html>
