<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/47b81c9b5a.js" crossorigin="anonymous"></script>
    <title>Registrarse</title>
</head>
<body>
    <header>
        <div class="announcement-container"></div>
        <div class="account-container">
          <span class="item">
            <a href="/register">
              <i class="fa-solid fa-arrow-right-to-bracket"></i>
              <small class="text uppercase">Crear cuenta</small>
            </a>
          </span>
          <span class="item">
            <a href="/login">
              <i class="fa-solid fa-address-card"></i>
              <small class="text uppercase">Iniciar sesión</small>
            </a>
          </span>
        </div>
        <!--Main Header-->
        <div class="header-container">
          <!--Main Header - Left-->
          <i>
            <a href="/">
              <img src="/images/logo.svg" alt="Logo-Tienda" class="img-logo" />
            </a>
          </i>
          <!--Main Header - Center-->
          <nav class="nav-container-2">
            <ul>
              <li class="nav-item">
                <a href="/" class="uppercase">Home</a>
              </li>
              <li class="nav-item">
                <a href="#" class="uppercase">Zapatos</a>
              </li>
              <li class="nav-item">
                <a href="#" class="uppercase">Sucursales</a>
              </li>
              <li class="nav-item">
                <a href="#" class="uppercase">Nosotros</a>
              </li>
              <li class="nav-item">
                <a href="#" class="uppercase">Contacto</a>
              </li>
            </ul>
          </nav>
          <!--Main Header - Right-->
          <nav class="nav-container">
            <ul>
              <li class="nav-item">
                <a href="#">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </a>
              </li>
              <li class="nav-item">
                <a href="#">
                  <i class="fa-solid fa-bookmark"></i>
                </a>
              </li>
              <li class="nav-item">
                <a href="/cart">
                  <i class="fa-solid fa-cart-shopping"></i>
                </a>
              </li>
              <li class="nav-item toggle">
                <a href="#">
                  <i class="fa-solid fa-bars"></i>
                </a>
              </li>
            </ul>
          </nav>
        </div>
    </header>
    <main>
        <div class="register-container">
            <form action="/register" method="POST" class="register-form">
                <h3>Crea una cuenta</h3>
                <section class="nombre-apellido-section">
                    <label for="nombre">Nombre:</label>
                    <input type="text" name="nombre" class="nombre-input" placeholder="Nombre" required>
                    <label for="apellido">Apellido:</label>
                    <input type="text" name="apellido" class="apellido-input" placeholder="Apellido" required>
                </section>
                <section class="telefono-section">
                  <label for="telefono">Teléfono</label>
                  <input type="telephone" name="telefono" class="telefono" placeholder="Teléfono">
                </section>
                <section class="email-section">
                    <label for="email">Email:</label>
                    <input type="email" name="email" class="email" placeholder="Email" required>
                </section>
                <section class="contrasena-section">
                    <label for="contrasena">Contraseña:</label>
                    <input type="password" name="contrasena" class="contrasena" placeholder="contraseña" required>
                    <label for="confirmar-contrasena">Confirmar contraseña:</label>
                    <input type="password" name="confirmar-contrasena" class="confirmar-contrasena" placeholder="Confirmar contraseña" required>
                </section>
                <section class="botonera-section">
                    <button>Crear cuenta</button> 
                </section>
            </form>
            <p class="o-separador">O</p>
            <div class="registrarse-google-container"> 
              <button class="registrarse-google-btn">
                <p>Registrarse con Google</p>
                <i class="fa-brands fa-google"></i>
            </button>
          </div>
        </div>
    </main>
    <footer>
      <div class="principal-footer-container">
        <div class="locales-container">
          <h3>Locales</h3>
          <ul>
            <li><p>Av. Santa Fé 3150 - Capital Federal</p></li>
            <li><p>Corrientes 1163 - Rosario, Santa Fé</p></li>
            <li><p>José Manuel Estrada 199 - Córdoba<br>Capital, Córdoba</p></li>
          </ul>
        </div>
        <div class="social-media-container">
          <h3>Seguinos</h3>
          <a href="https://www.facebook.com/">
            <i class="fa-brands fa-facebook"></i>
          </a>
          <a href="https://www.instagram.com/">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>
        <div class="envios-container">
          <div class="title">
            <h3>Enviamos tu compra</h3>
            <i class="fa-solid fa-truck-fast"></i>
          </div>
          <p>Entregas a todo el pais</p>
        </div>
        <div class="newsletter-container">
          <h3>NEWSLETTER</h3>
          <p>Enterate primero de todas las novedades!</p>
          <form action="/newsletter" method="POST" class="newsletter-form">
            <input type="email" name="email" class="email" placeholder="Email" required>
            <input type="submit"></input>
          </form> 
        </div>
      </div>
      <div class="copyright-container">
        <small>Copyright Cruz - 2022</small>
      </div>
    </footer>
</body>
</html>