:root{
    --account-container-text-color: #AAAAAA;
    --header-container-background-color: #FFFF;
    --main-title-container-sub-conteiner-1-boder-color: #000000;
}

/*Global*/
a{
    text-decoration: none;
    color: black;
} 

/*Poner todo en mayusculas.*/
.uppercase {
    text-transform: uppercase;
}

/*Global - Header*/
.account-container{
    display: none;
}
.header-container{
    background-color: var(--header-container-background-color);
    box-shadow: 0 1px 8px #ddd;
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-between;
}

.header-container i{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
}

.header-container .img-logo{ 
    height: 70px;
    justify-content: center;
    width: 100px;
    text-align: left;
}

.header-container i a{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Global - Header - Nav menu*/
.nav-container{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    text-align: right;
}

.nav-container ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0%;
   
}

.nav-container .nav-item {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    padding: 0.75rem 0.5rem;
}

/*Global - Header - Nav menu (Desktop)*/
.nav-container-2{
    display: none;
}
/*HEADER - END*/

/*MAIN - START*/

.main-title-container{
    display: block;
   
}

.main-title-container .style-div{  
    align-items: center;
    border: 1px solid var(--main-title-container-sub-conteiner-1-boder-color);
    border-radius: 5px;
    margin: 2%
}

.main-title-container .style-div .flex-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.main-title-container .style-div .flex-container .sub-container-1{
    margin: 5px; 
}

.main-title-container .style-div .flex-container .sub-container-1 .item-title{   
    font-size: 12px;
}

.main-title-container .style-div .flex-container .sub-container-1 p{
    display: none;
    
}

.main-title-container .style-div .flex-container .sub-container-2{
    display: none;

}

.product-container{
    border-bottom: 1px solid #AAAAAA;
    padding: 0px 5% 5%;
}

.product-container .botonera{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.product-container .botonera > button{
   
    background: none;
    border: 1px #000000 solid;
    padding: 5px 10px;
    margin: 5px;       
}

.product-container .botonera > button  #btn-icon{
    padding-right: 5px;
}

.product-container .sub-container-1{
    align-items:center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.product-container .description-container {
    align-items:flex-start;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.product-container .description-container .description-subcontainer{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.product-container .sub-container-1 .product-img {
    display: inline-block;
    height: 50%;
    width: 50%;
}

.product-container .sub-container-1 .product-title-off-price-conteiner{
    padding: 5%;
    margin: 2%;
}

.product-container .description-container .description-subcontainer .title{
    font-weight: bold;
    font-size: 16px;
    padding: 8%;
}

.product-container .description-container .description-subcontainer .value{
    padding: 8%;
}

.product-container .sub-container-1 .product-title-off-price-conteiner .product-price {

    font-size: 14px;
    margin-top: 0%;
}

.product-container .sub-container-1 .product-title-off-price-conteiner .product-off{
    color: #88ec83;
    font-size: 14px;
    margin-bottom: 0%;
    margin-top: 40%;
}

.product-container .sub-container-1 .product-title {
    display: inline;
    font-size: 14px;
}

/*MAIN - END*/

@media (min-width: 350px){

/*HEADER - START*/
    .header-container .img-logo{
        display: inline-block;
        width: 150px;
        height: 70px;
    }

    .main-title-container .style-div .flex-container .sub-container-1 .item-title{   
        font-size: 1em;
    }

/*HEADER - END*/

/*MAIN - START*/

/*MAIN - END*/
}
@media (min-width: 700px){
    /*HEADER - START*/
    .account-container{
        display: block;
        border-bottom: 1px solid #f1f1f1;
        text-align: right;
    }
    
    .account-container .item a i{
        color: var(--account-container-text-color);
    }

    .account-container .item {
        padding-left: 10px;
        padding-right: 10px;
    }

    .account-container .item .text{
        color: var(--account-container-text-color);
        padding-left: 2px;
    }

    .nav-container .nav-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        padding: 1.75rem 1.5rem;        
    }
    /*HEADER - END*/

    /*MAIN - START*/

    .main-title-container{
        justify-content: space-between;
    }
    .main-title-container .style-div .flex-container{
        justify-content: space-between;
        align-items: center;
    }

    .main-title-container .style-div .flex-container .sub-container-1 > h4{
        display: block;
        margin-bottom: 2%;
        
    }

    .main-title-container .style-div .flex-container .sub-container-1 > p{
        display: block;
        margin-top: 2%;
        
    }

    .main-title-container .style-div .flex-container .sub-container-2{
        display: block;
        margin: 5px;
        align-items: center;
    
    }
    .main-title-container .style-div .flex-container .sub-container-2 .lock-title-span{
        margin-bottom: 2%;
        text-align: left;
        align-items: center;
    }

    .main-title-container .style-div .flex-container .sub-container-2 .lock-title-span > h4{
        margin: 0%;
        display: inline;
    }
    .main-title-container .style-div .flex-container .sub-container-2 > p{
        margin-top: 2%;
        margin-bottom: 0%;
    
    }
    
}

@media (min-width: 1200px) {

    .nav-container-2{
        align-items: center;
        display: flex;
        flex-wrap: wrap; 
        justify-content:center;
        text-align: center;
    }
    .nav-container-2 .nav-item {
        display: flex;
        flex-direction: row;
        padding: 1.75rem 1.5rem;
        list-style: none;
        justify-content: space-between;
    }

    .nav-container .toggle{
        display: none; /*Hamburguer menu hide*/
    }

    .nav-container-2 ul {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0%;
       
    }
}