:root{
    --account-container-text-color: #AAAAAA;
    --header-container-background-color: #FFFF;
    --main-title-container-sub-conteiner-1-boder-color: #000000;
}

/*Global*/
a{
    text-decoration: none;
    color: black;
} 
.html-home{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Poner todo en mayusculas.*/
.uppercase {
    text-transform: uppercase;
}

/*Global - Header*/

.account-container{
    display: none;
}
.header-container{
    background-color: var(--header-container-background-color);
    box-shadow: 0 1px 8px #ddd;
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-between;
}

.header-container i{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
}

.header-container .img-logo{ 
    height: 70px;
    justify-content: center;
    padding-left: 10px;
    text-align: left;
    width: 100px;
}

.header-container i a{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Global - Header - Nav menu*/
.nav-container{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    text-align: right;
}

.nav-container ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0%;
   
}

.nav-container .nav-item {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    padding: 0.75rem 0.5rem;
}

/*Global - Header - Nav menu (Desktop)*/
.nav-container-2{
    display: none;
}
/*HEADER - END*/

/*MAIN - START*/
    /*home.ejs - START*/
.carrousel{
    width: 100%;
}

.conteCarrousel{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.conteCarrousel .itemCarrousel{
    position: relative;
    width: 100%;
    height: 100%;
}

.conteCarrousel .itemCarrousel .itemCarrouselTarjeta{
    width: 100%;
    height: 100%;
}

.conteCarrousel .itemCarrousel .itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
}

.conteCarrousel .itemCarrousel .itemCarrouselArrows > i:hover {
    cursor: pointer;
}

.conteCarrousel .itemCarrousel .itemCarrouselArrows > a > i{
    color: white;
}

.itemCarrousel-img{
    width: 100%;
    height: 100%;
}

.contenedor-productos-home{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.contenedor-productos-home .elements-subcontainer{
    margin: 15px;
    box-shadow: 0 1px 8px #ddd;
}

.contenedor-productos-home .elements-subcontainer .img-container > img{
    width: 160px;
    height: 160px;
}

.contenedor-productos-home .elements-subcontainer .descripcion-container > p{
    text-align: center;
    font-size: 14px;
    margin-bottom: 5px;
}

.contenedor-productos-home .elements-subcontainer .descripcion-container .descuento{
    color: #00a650;
}
.contenedor-productos-home .elements-subcontainer .descripcion-container .titulo{
    font-weight: bold;
}

.contenedor-productos-home .elements-subcontainer .truck-icon-container{
   position: relative;
}

.contenedor-productos-home .elements-subcontainer .truck-icon-container .fa-truck {
    color: green;
    display: block;
    padding: 5px;
    font-size: 12px;
    height: 15px;
    width: 15px;
    background-color: #FFF;
    border: 1px solid #39b54a;
    position: absolute;
    border-radius: 50%;
    top: -15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-ofertas-titulo{
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    font-size: 15px;
    margin-top: 80px;
}

.home-ofertas-hr{
    margin-top: 20px;
    height: 1px;
    width: 50px;
    background-color: black;
}

.home-productos-destacados-titulo{
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    font-size: 15px;
    margin-top: 20px;
}

.home-productos-destacados-hr{
    margin-top: 20px;
    height: 1px;
    width: 50px;
    background-color: black;
}
    /*home.ejs - END*/

     /* branches.ejs- START */
.branches-main-container{
    display: flex;
    justify-content: center;
}

.branches-main-container .branches-main-subcontainer{
    flex-direction: column;
    width: 90%;
}

.branches-main-container .branches-main-subcontainer .branches-subcontainer-article{
    border-bottom: solid 1px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.branches-main-container .branches-main-subcontainer .branches-subcontainer-article_title{
    display: flex;
    justify-content: center;
}

.branches-main-container .branches-main-subcontainer .branches-subcontainer-article_title .branches-subcontainer-title{
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.branches-article_div{
    align-items: center;
}

.branches-main-container .branches-main-subcontainer .branches-subcontainer-article .branches-article_div_map{
    justify-content: center;
    align-items: center;
}

.branches-main-container .branches-main-subcontainer .branches-subcontainer-article .branches-article_div_map .div-map{
    width: 150px;
    height: 130px;
    border-radius: 5px;
}
    /* branches.ejs- END */

    /*login.ejs - START*/
.container-login{
    padding: 0 20px;
    margin: 60px auto;
}
  

  
.container-login .wrapper-form{
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;


}
    
.container-login .wrapper-form .login-button-sub-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.container-login .wrapper-form .login-form-row{
    height: 50px;
    margin-bottom: 20px;
    margin-top: 15px
}
  
.container-login .wrapper-form .login-form-row input{
    height: 41px;
    outline: none;
    padding-left: 60px;
    border: 1px solid lightgrey;
    font-size: 16px;
}

.container-login .wrapper-form .login-form-row input:focus{
    border-color: goldenrod;
}
  
.container-login .wrapper-form .login-form-row input::placeholder{
    color: #999;
}
  
.container-login  .wrapper-form .login-form-row .icono-login{
    position: absolute;
    width: 47px;
    height: 45px;
    color: #fff;
    font-size: 18px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.container-login .wrapper-form .options-row{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: -10px 0 20px 0;
    width: 259px;

}
.container-login  .wrapper-form .options-row > a  {
    color: black;
    font-size: 13px;
    text-align: left
}

.container-login  .wrapper-form .options-row .remember-user-container{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.container-login  .wrapper-form .options-row .remember-user-container > label  {
    color: black;
    font-size: 13px;
}
  
.container-login  .wrapper-form .button .login-button{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    background: black;
    cursor: pointer;
    width: 211px;
    height: 85%;
  }
  
.container-login  .wrapper-form .button2 .login-create-button{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    background: black;
    cursor: pointer;
    margin-top: 10px;
    width: 211px;
    height: 85%;
}
  
.container-login  .wrapper-form .button3 .login-google-button{
    color: rgb(84, 84, 84);
    font-size: 20px;
    font-weight: 500;
    background: rgb(241, 103, 52);
    cursor: pointer;
    width: 211px;
    height: 100%;
}
  
.container-login  .wrapper-form .signup-link{
    text-align: center;
    font-size: 17px;
    color: black;
    margin-top: 5px;
}
     /*login.ejs - END*/

.finalizar-compra-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px;
}

.finalizar-compra-section .discount-container .banner-cuotas-tarjetas{
    display: none;
}

.finalizar-compra-section .discount-container > form > button{
    border: 1px solid #d7d7d7;
    border-radius: 2px;
    color: #858585;
}

.finalizar-compra-section .precio-and-btn-container .proceder-compra-btn{
    background: #3cbdaf;
    border-radius: 2px;
    color: #FFF;
    padding: 8px;
    width: 160px;

}

.finalizar-compra-section .precio-and-btn-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.finalizar-compra-section .precio-and-btn-container .precio-container{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.finalizar-compra-section .precio-and-btn-container .precio-container > p{
    padding: 5px;
}

.finalizar-compra-section .precio-and-btn-container .precio-container .title{
    font-weight: bold;
}

.finalizar-compra-section .precio-and-btn-container .subtotal-container{
    display: flex;
    background-color: #f5f5f5;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.finalizar-compra-section .precio-and-btn-container .subtotal-container > p{
    font-size: 12px;
    padding: 5px;
}

.main-title-container{
    display: block;
   
}

.main-title-container .style-div{  
    align-items: center;
    border: 1px solid var(--main-title-container-sub-conteiner-1-boder-color);
    border-radius: 5px;
    margin: 2%
}

.main-title-container .style-div .flex-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.main-title-container .style-div .flex-container .sub-container-1{
    margin: 5px; 
}

.main-title-container .style-div .flex-container .sub-container-1 .item-title{   
    font-size: 12px;
}

.main-title-container .style-div .flex-container .sub-container-1 p{
    display: none;
    
}

.main-title-container .style-div .flex-container .sub-container-2{
    display: none;

}

.product-container{
    border-bottom: 1px solid #AAAAAA;
    padding: 0px 5% 5%;
}

.product-container .sub-container-botonera-container .botonera{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.product-container .sub-container-botonera-container .botonera > button{
   
    background: none;
    border: 1px #000000 solid;
    padding: 5px 10px;
    margin: 5px;       
}

.product-container .sub-container-botonera-container .botonera > button  #btn-icon{
    padding-right: 5px;
}

.product-container .sub-container-botonera-container .sub-container-1{
    align-items:center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.product-container .description-container {
    align-items:flex-start;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.product-container .description-container .description-subcontainer{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.product-container .description-container .description-subcontainer .title{
    font-weight: bold;
    font-size: 16px;
    padding: 8%;
}

.product-container .description-container .description-subcontainer .value{
    padding: 8%;
}

.product-container .sub-container-botonera-container .sub-container-1 .product-img {
    display: inline-block;
    height: 50%;
    width: 50%;
}

.product-container .sub-container-botonera-container .sub-container-1 .product-title-off-price-conteiner{
    padding: 5%;
    margin: 2%;
}


.product-container .sub-container-botonera-container .sub-container-1 .product-title-off-price-conteiner .product-price-mobile {
    font-size: 14px;
    margin-top: 0%;
}

.product-container .sub-container-botonera-container .sub-container-1 .product-title-off-price-conteiner .product-off{
    color: #88ec83;
    font-size: 14px;
    margin-bottom: 0%;
    margin-top: 40%;
}

.product-container .sub-container-botonera-container .sub-container-1 .product-title {
    display: inline;
    font-size: 14px;
}

.product-container .price-container-desktop{
    display: none;
}
    /*editProduct.ejs - START*/
    .editar-producto-container{
        margin: 5%;
    }
    
    .editar-producto-container .editar-producto-form{
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        
    }
    
    .editar-producto-container .editar-producto-form > div{
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .editar-producto-container .editar-producto-form > div > section{
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .editar-producto-container .editar-producto-form .form-container-1 .section-1 .categoria-genero-subcontainer{
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
    
    .editar-producto-container .editar-producto-form .form-container-1 .section-1 .color-subcontainer{
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .editar-producto-container .editar-producto-form > div> section{
        margin: 2% auto 2%;
    }
    .editar-producto-container .editar-producto-form > div > section > div{
        text-align: center;
        margin: 3% auto 3%;
        width: 100%;
    }
    
    .editar-producto-container .editar-producto-form .form-container-1 .section-1 .descripcion-subcontainer {
        display: flex;
        flex-direction: column;
        height: 8em;
        width: 100%;
    }
    .editar-producto-container .editar-producto-form .form-container-1 .section-1 .descripcion-subcontainer > label {
        text-align: left;
        width: 95%;  
    }
    .editar-producto-container .editar-producto-form .form-container-1 .section-1 .descripcion-subcontainer > textarea {
        height: 80%;
        width: 95%
    }
    
    .editar-producto-container .editar-producto-form .form-container-1 .section-1 > div > div > select{
        width: 100%;
        height: 25px;
    }
    
    .editar-producto-container .editar-producto-form .form-container-1 .section-1 .titulo-subcontainer #titulo{
        width: 80%;
        height: 2em;
    }
    .editar-producto-container .editar-producto-form .form-container-2 .section-2 .img-flex-container{
        display: none;
    } 
    .editar-producto-container .editar-producto-form .form-container-2 .section-3 .botonera{
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .editar-producto-container .editar-producto-form .form-container-2 .section-3 .botonera .cancelar-btn{
        margin-top: 10px;
    }
    .editar-producto-container .editar-producto-form .form-container-2 .section-3 .botonera > button{
        background: #3cbdaf;
        border-radius: 2px;
        color: #FFF;
        padding: 8px;
        width: 140px;
    }
    
    .editar-producto-container .editar-producto-form .form-container-2 .section-3 .talle-precio-subcontainer {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    
    }
    .editar-producto-container .editar-producto-form .form-container-2 .section-3 .talle-precio-subcontainer .precio-subcontainer{
        display: flex;
        flex-direction: column;
        
    }
    .editar-producto-container .editar-producto-form .form-container-2 .section-3 .talle-precio-subcontainer .precio-subcontainer > label {
        text-align: left;
        width: 100%;
    }

    .editar-producto-container .editar-producto-form .form-container-2 .section-3 .talle-precio-subcontainer .talle-subcontainer {
        width: 50px;
    }
    
    .editar-producto-container .editar-producto-form .form-container-2 .section-3 .talle-precio-subcontainer .talle-subcontainer > select{
        width: 100%;
    }
    /*editProduct.ejs - END*/

    /*newProduct.ejs - START*/
.crear-producto-container{
    margin: 5%;
}

.crear-producto-container .nuevo-producto-form{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
}

.crear-producto-container .nuevo-producto-form > article{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.crear-producto-container .nuevo-producto-form > article > section{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.crear-producto-container .nuevo-producto-form .form-container-1 .section-1 .categoria-genero-subcontainer{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.crear-producto-container .nuevo-producto-form .form-container-1 .section-1 .color-subcontainer{
    align-items: center;
    display: flex;
    justify-content: center;
}
.crear-producto-container .nuevo-producto-form .form-container-1 .section-1 .color-subcontainer .color-sub-sub-container #color{
    width: 40%;
    height: 2em;
}
.crear-producto-container .nuevo-producto-form > article > section{
    margin: 2% auto 2%;
}
.crear-producto-container .nuevo-producto-form > article > section > article{
    text-align: center;
    margin: 3% auto 3%;
    width: 100%;
}

.crear-producto-container .nuevo-producto-form .form-container-1 .section-1 .descripcion-subcontainer {
    display: flex;
    flex-direction: column;
    height: 8em;
    width: 100%;
}
.crear-producto-container .nuevo-producto-form .form-container-1 .section-1 .descripcion-subcontainer > label {
    text-align: left;
    width: 95%;  
}
.crear-producto-container .nuevo-producto-form .form-container-1 .section-1 .descripcion-subcontainer > textarea {
    height: 80%;
    width: 95%
}

.crear-producto-container .nuevo-producto-form .form-container-1 .section-1 > article > div > select{
    width: 100%;
    height: 25px;
}

.crear-producto-container .nuevo-producto-form .form-container-1 .section-1 .titulo-subcontainer #titulo{
    width: 80%;
    height: 2em;
}
.crear-producto-container .nuevo-producto-form .form-container-2 .section-2 .img-flex-container{
    display: none;
} 
.crear-producto-container .nuevo-producto-form .form-container-2 .section-3 .botonera{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 50px;
}
.crear-producto-container .nuevo-producto-form .form-container-2 .section-3 .botonera .cancelar-btn{
    margin-top: 10px;
}
.crear-producto-container .nuevo-producto-form .form-container-2 .section-3 .botonera > button{
    background: #3cbdaf;
    border-radius: 2px;
    color: #FFF;
    padding: 8px;
    width: 140px;
}

.crear-producto-container .nuevo-producto-form .form-container-2 .section-3 .talle-precio-subcontainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

}

.crear-producto-container .nuevo-producto-form .form-container-2 .section-3 .talle-precio-subcontainer .precio-subcontainer{
    display: flex;
    flex-direction: column;
    
}

.crear-producto-container .nuevo-producto-form .form-container-2 .section-3 .talle-precio-subcontainer .precio-subcontainer > label {
    text-align: left;
    width: 100%;
}

.crear-producto-container .nuevo-producto-form .form-container-2 .section-3 .talle-precio-subcontainer .talle-subcontainer {
    width: 82px;
}

.crear-producto-container .nuevo-producto-form .form-container-2 .section-3 .talle-precio-subcontainer .talle-subcontainer > select{
    width: 100%;
}

    /*newProduct.ejs - END*/

    /*productDetail.ejs - START*/
.contenedor-producto-detalle{
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    margin-bottom: 10%;
}

.contenedor-producto-detalle .producto-detalle-caja-1{
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
}

.contenedor-producto-detalle .producto-detalle-caja-1 .producto-detalle-img{
    border: solid 1px black;
    height: 100%; 
    width: 100%; 
}

.contenedor-producto-detalle .producto-detalle-caja-2{
    text-align: center;
    margin: 5px;
    padding: 0%;
}

.contenedor-producto-detalle .producto-detalle-caja-2 .descuento{
    color: #88ec83;
    font-size: 15px;
}

.contenedor-producto-detalle .producto-detalle-caja-2 .producto-detalle-colores-container .color{
    padding-right: 5px;
}

.contenedor-producto-detalle .producto-detalle-caja-2 > p{
    font-size: 18px;
    margin: 15px;
    padding: 2px;
}

.contenedor-producto-detalle .producto-detalle-caja-2 .seleccionar-color-titulo{
    margin-bottom: 3px;
}

.contenedor-producto-detalle .producto-detalle-caja-2 .talles-titulo{
    margin-bottom: 1%;
}

.producto-detalle-boton-carrito{
      text-decoration:none;
    font-weight: 200;
    font-size: 25px;
    color:#f9f9f9;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:#000000;
    border-color: #d8d8d8;
    border-width: 1px;
    border-style: solid;
}
.productos-relacionados-container{
    margin-top: 2%;
}
 .productos-relacionados-container .child-container {
    align-items: center; 
    display: flex;
    flex-direction: column;
 }

 .productos-relacionados-container .child-container > a{
    margin: 5% 15%;  
 }

 .productos-relacionados-container .child-container > a .flex-item {
    align-items: center;
    box-shadow: 0 1px 8px rgb(200, 199, 199);
    display: flex;
    flex-direction: column;
 }

 .productos-relacionados-container .child-container > a .flex-item .descripcion-container > p{
    text-align: center;
 } 
 .productos-relacionados-container .child-container > a .flex-item > img{
    height: 70%;
    width: 70%;
 }
 
 .product-detail-productos-relacionados-title{
     text-align: center;
 }

 .product-detail-destacados-hr {
    margin-top: 10px;
    height: 1px;
    width: 50px;
    background-color: black;
 }
    /* productDetail.ejs - END */

    /* productList.ejs- START */

.products-list-main-title{
    font-size: 22px;
    text-align: center;
    margin: 25px auto 25px;
}

.products-list-container{
    align-items: center;
    display: flex;
    flex-direction: column;

}

.products-list-container .enlace .product-container{
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 1px 8px #ddd;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 12px;
    margin-top: 12px;
    height: 334px;

}
.products-list-container .enlace .product-container .image-container{
    width: 280px;
    text-align: center;
}
.products-list-container .enlace .product-container .image-container > img{
    width: 218px;
    height: 218px;
}

.products-list-container .enlace .product-container .price-discount-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.products-list-container .enlace .product-container .price-discount-container > div{
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.products-list-container .enlace .product-container .price-discount-container > div .discount{
    color: #88ec83;
    margin-left: 10px;
}

.products-list-container .enlace .product-container .price-discount-container > div > p{
    margin-bottom: 0px
}

.products-list-container .enlace .product-container .price-discount-container > p{
    font-size: 18px;
    margin-bottom: 0px;
}

.products-list-container .enlace .product-container .title-container .title{
    font-size: 20px;
    margin-bottom: 0px;
    text-align: center;
}
.products-list-container .enlace .product-container .truck-icon-container{
    position: relative;
}
.products-list-container .enlace .product-container .truck-icon-container .fa-truck {
    color: green;
    display: block;
    padding: 10px;
    font-size: 20px;
    height: 15px;
    width: 15px;
    background-color: #FFF;
    border: 1px solid #39b54a;
    position: absolute;
    border-radius: 50%;
    top: -15px;
    right: -115px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    /* productList.ejs - END */

    /*register.ejs - START*/
.register-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
.register-container .register-form{
    margin-bottom: 0%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

.register-container .register-form .botonera-section > button {
    background-color: #000000;
    color: #FFF;
    margin-top: 5%;
}
.register-container .o-separador {
    text-align: center;
}

.register-container .registrarse-google-container .registrarse-google-btn {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(241, 103, 52);
    border: 1px solid #000000;
}

.register-container .registrarse-google-container .registrarse-google-btn > p {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

.register-container .register-form > h3 {
    text-align: center;
}
.register-container .register-form > section{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.register-container .register-form > section > input{
    margin-bottom: 4%;
    margin-top: 4%;
}

.register-form-error-msg{
     color: #e98c00;
     margin-top: 0px;
}
    /*register.ejs - END*/
    
    /*userList.ejs - START*/

.users-list-main-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.users-list-main-container .user-container {
    align-items: center;
    background-color: #e1e1e1;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;
}
.users-list-main-container .user-container .buttons-container{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 80%;
}
.users-list-main-container .user-container .buttons-container .buttons-subcontainer{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-right: 50px;
}

.users-list-main-container .user-container .buttons-container .delete-user-button {
    margin-top: 15px;
}

.users-list-main-container .user-container .buttons-container .edit-user-button {
    margin-bottom: 15px;
}

.users-list-main-container .user-container .buttons-container .edit-user-button .fa-user-pen{
   font-size: 18px;
}

.users-list-main-container .user-container .buttons-container .delete-user-button .fa-trash{
    font-size: 18px;
 }

.users-list-main-container .user-container .data-container{
    margin-left: 40px;
}

.users-list-main-container .user-container .data-container .name-title{
    margin-top: 14px;
}

.users-list-main-container .user-container .data-container .email{
    display: none;
}

.users-list-main-container .user-container .image-id-container {
    background-color:#dddada ;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100px;
}
.users-list-main-container .user-container .image-id-container .image-sub-container > img {
    border-radius: 100%;
    height: 55px;
    margin-top: 8px;
    width: 64px;
    
}
.users-list-main-container .user-container .image-id-container .id-sub-container {
    margin-top: 5px;
}
.users-list-main-container .user-container .image-id-container .id-sub-container .id{
    font-weight: bold;
    font-size: 18px;
}

    /*usersList.ejs - END*/
    
    /*userDetail.ejs - START*/

.user-detail-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 35px;
}

.user-detail-container .user-subcontainer .user-subcontainer-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
}

.user-detail-container .user-subcontainer .user-subcontainer-title{
    display: flex;
    justify-content: center;
}

.user-detail-container .user-subcontainer .user-subcontainer-img_p{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user-detail-container .user-subcontainer .user-subcontainer-img_p .user-subcontainer-left{
    align-items: center;
    display: flex;
    flex-direction: column;     
    width: 90%;
}

.user-detail-container .user-subcontainer .user-subcontainer-img_p .user-subcontainer-left .user-subcontainer-input_file{
    margin: 10px;
    width: 65%;
}

.user-detail-container .user-subcontainer .user-subcontainer-article .user-subcontainer-article-input{
    border-radius: 3px;  
    border: 1px solid lightgrey;  
    height: 30px;
}

.user-detail-container .user-subcontainer .user-subcontainer-buttons .user-subcontainer-button_1{
    background: black;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    width: 78px;
    height: 40px;
}

.user-detail-container .user-subcontainer .user-subcontainer-buttons .user-subcontainer-button_2{
    background: black;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    width: 130px;
    height: 40px;
}

.user-detail-container .user-subcontainer .user-subcontainer-img_p .user-subcontainer-left .user-subcontainer-img_avatar{
    border-radius: 50%;
    width: 65%;
    height: 65%;
}

.user-detail-container .user-subcontainer .user-subcontainer-buttons{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

    /*userDetail.ejs - END*/

/*MAIN - END*/

/*FOOTER - START*/

.cart-footer {
 border-top: 1px #000000 solid;
 padding-top: 2%;
}

.cart-footer .footer-container .sitio-seguro-container .lock-title-span > h4 {
    display:inline;
}
.cart-footer .footer-container > img {
    display: none;
}

footer .copyright-container{
    text-align: center;
}

footer .copyright-container > small {
    color: #AAAAAA;
    fill: #AAAAAA;
  
}

.principal-footer-container{
    align-items: center;
    border-top: 2px solid #000000;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 30px;
}

.principal-footer-container > div {
    margin: 10px 20px;
}

.principal-footer-container .envios-container > p{
    margin: 0%;
}

.principal-footer-container .envios-container .title > h3{
    display: inline;
}

.principal-footer-container .locales-container{
    display: none;
}

.principal-footer-container .social-media-container > a > i{
    margin: 5px;
    font-size: 30px;
}

.principal-footer-container .social-media-container > h3{
    text-align: center;
}

.principal-footer-container .newsletter-container{
    text-align: center;
}

/*FOOTER - END*/

@media (min-width: 350px){

/*HEADER - START*/
    .header-container .img-logo{
        display: inline-block;    
        height: 70px;
        padding-left: 15px;
        width: 150px;
    }

    .main-title-container .style-div .flex-container .sub-container-1 .item-title{   
        font-size: 1em;
    }

/*HEADER - END*/

/*MAIN - START*/
    .finalizar-compra-section .precio-and-btn-container .iva-container{
        background-color: #ededed;
        border-left: 1px solid #000000;
        border-right: 1px solid #000000;
        border-bottom: 1px solid #000000;
        font-size: 10px;
        margin: 0%;
        margin-bottom: 1em;
        padding-bottom: 15px;
        width: 80%;
    }
    .finalizar-compra-section .precio-and-btn-container .iva-container .iva{
        margin: 0%;
    }

    .finalizar-compra-section .precio-and-btn-container .precio-container{
        background-color: #ededed;
        border-left: 1px solid #000000;
        border-right: 1px solid #000000;
        width: 80%;
    }

    .finalizar-compra-section .precio-and-btn-container .subtotal-container{
        background-color: #f5f5f5;
        border-left: 1px solid #000000;
        border-right: 1px solid #000000;
        border-top: 1px solid #000000;
        margin-top: 1em;
        width: 80%;
    }

    /*MAIN - END*/
}

@media (min-width: 700px){
    /*HEADER - START*/
    .account-container{
        display: block;
        border-bottom: 1px solid #f1f1f1;
        text-align: right;
    }
    
    .account-container .item a i{
        color: var(--account-container-text-color);
    }

    .account-container .item {
        padding-left: 10px;
        padding-right: 10px;
    }

    .account-container .item .text{
        color: var(--account-container-text-color);
        padding-left: 2px;
    }

    .nav-container .nav-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        padding: 1.75rem 1.5rem;        
    }
    /*HEADER - END*/

    /*MAIN - START*/

    .control-formulario{
        margin-bottom: 15px;
        width: 40%;
    }
    
    .newsletter-contenedor__iconos > i{
        margin: 20px;
        font-size: 60px;
    }
    .finalizar-compra-section .precio-and-btn-container .iva-container{
        width: 55%;
    }

    .finalizar-compra-section .precio-and-btn-container .precio-container{
        width: 55%;
    }

    .finalizar-compra-section .precio-and-btn-container .subtotal-container{
        width: 55%;
    }

    /*home.ejs - START*/
    .contenedor-productos-home{
        justify-content: space-evenly;
        margin-top: 35px;
        margin-bottom: 35px;
    }
    .contenedor-productos-home .elements-subcontainer{
        margin: auto;
    }

    .contenedor-productos-home .elements-subcontainer .img-subcontainer > img{
        height: 220px;
        width: 200px;     
    }

    .contenedor-productos-home .elements-subcontainer .truck-icon-container .fa-truck {
        font-size: 14px;
        height: 20px;
        right: 15px;
        width: 20px;
    }
    /*home.ejs - END*/

     /* branches.ejs- START */
    .branches-main-container .branches-main-subcontainer{
        width: 70%;
    }

    .branches-main-container .branches-main-subcontainer .branches-subcontainer-article{
        justify-content: space-between;
        margin-bottom: 45px;
    }

    .branches-main-container .branches-main-subcontainer .branches-subcontainer-article .branches-article_div_map .div-map{
        width: 200px;
        height: 170px;
        margin-bottom: 10px;
    }
        /* branches.ejs- END */

    /* login.ejs - START */
    .container-login .wrapper-form{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .container-login .wrapper-form .login-form-row .input-login{
        width: 315px; 
    }

    .container-login .wrapper-form .button .login-button{
        width: 315px;
    } 

    .container-login .wrapper-form .button2 .login-create-button{
        width: 315px;
    } 

    .container-login .wrapper-form .button3 .login-google-button{
        width: 315px;
    }

    .container-login .wrapper-form .options-row{  
        width: 315px;
    }

    /* login.ejs - END */

    .main-title-container{
        justify-content: space-between;
    }

    .main-title-container .style-div .flex-container{
        justify-content: space-between;
        align-items: center;
    }

    .main-title-container .style-div .flex-container .sub-container-1 > h4{
        display: block;
        margin-bottom: 2%;
        
    }

    .main-title-container .style-div .flex-container .sub-container-1 > p{
        display: block;
        margin-top: 2%;
        
    }

    .main-title-container .style-div .flex-container .sub-container-2{
        display: block;
        margin: 5px;
        align-items: center;
    
    }
    .main-title-container .style-div .flex-container .sub-container-2 .lock-title-span{
        margin-bottom: 2%;
        text-align: left;
        align-items: center;
    }

    .main-title-container .style-div .flex-container .sub-container-2 .lock-title-span > h4{
        margin: 0%;
        display: inline;
    }
    .main-title-container .style-div .flex-container .sub-container-2 > p{
        margin-top: 2%;
        margin-bottom: 0%;
    
    }
    
    .product-container{
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .product-container .sub-container-botonera-container .sub-container-1 .product-img {
        height: 30%;
        width: 30%;
    }

        /*editProduct.ejs - START*/

    .editar-producto-container .editar-producto-form{        
        flex-direction: row;
        justify-content: space-evenly;
    }

    .editar-producto-container .editar-producto-form .form-container-2{
        border-left: 1px solid #000000;
    }
    
    .editar-producto-container .editar-producto-form .form-container-1 .section-1 .categoria-genero-subcontainer > div{
        width: 40%;
        text-align: left;
    }
    .editar-producto-container .editar-producto-form .form-container-1 .section-1 .categoria-genero-subcontainer > div > label{
        text-align: left;
        width: 100%;
    }
    .editar-producto-container .editar-producto-form .form-container-1 .section-1 .color-subcontainer .color-sub-sub-container{
        margin-left: 6.5%;
        text-align: left;
        width: 100%;
    }
        
    .editar-producto-container .editar-producto-form .form-container-1 .section-1 .color-subcontainer .color-sub-sub-container > select{
        width: 43%;
    }
    
    .editar-producto-container .editar-producto-form .form-container-2 .section-2{
        border-bottom: 1px solid #000000;  
    }
    
    .editar-producto-container .editar-producto-form .form-container-2 .section-2 .agregar-imagen{
        margin-top: 40px;
        margin-bottom: 20px;  
    }
    
    .editar-producto-container .editar-producto-form .form-container-2 .section-2 .img-flex-container{
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 20%;
        justify-content: space-evenly;
        padding-bottom: 5%;
        width: 90%;
    }
    
    .editar-producto-container .editar-producto-form .form-container-2 .section-2 .img-flex-container > img{
        box-shadow: 0 1px 8px #ddd;
        width: 30%;
        height: 100%;
    }
    
    .editar-producto-container .editar-producto-form .form-container-2 .section-3{
        margin-top: 40px;
    }
    
        
    .editar-producto-container .editar-producto-form .form-container-2 .section-3 .botonera {
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 15%;
        margin-bottom: 0px;
    }
    .editar-producto-container .editar-producto-form .form-container-2 .section-3 .botonera .cancelar-btn{
        margin-top: 0;
    }
    .editar-producto-container .editar-producto-form .form-container-2 .section-3 .talle-precio-subcontainer {
        justify-content: space-evenly;
    }

        /*newProduct.ejs - START*/

    .crear-producto-container .nuevo-producto-form{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .crear-producto-container .nuevo-producto-form .form-container-2{
        border-left: 1px solid #000000;
    }
    
    .crear-producto-container .nuevo-producto-form .form-container-1 .section-1 .categoria-genero-subcontainer > div{
        width: 40%;
        text-align: left;
    }
    .crear-producto-container .nuevo-producto-form .form-container-1 .section-1 .categoria-genero-subcontainer > div > label{
        text-align: left;
        width: 100%;
    }
    .crear-producto-container .nuevo-producto-form .form-container-1 .section-1 .color-subcontainer .color-sub-sub-container{
        margin-left: 6.5%;
        text-align: left;
        width: 100%;
    }
    
    .crear-producto-container .nuevo-producto-form .form-container-1 .section-1 .color-subcontainer .color-sub-sub-container > select{
        width: 43%;
    }

    .crear-producto-container .nuevo-producto-form .form-container-2 .section-2{
        border-bottom: 1px solid #000000;  
    }

    .crear-producto-container .nuevo-producto-form .form-container-2 .section-2 .agregar-imagen{
        margin-top: 70px;
        margin-bottom: 100px;  
    }

    .crear-producto-container .nuevo-producto-form .form-container-2 .section-3{
        margin-top: 40px;
    }

    
   .crear-producto-container .nuevo-producto-form .form-container-2 .section-3 .botonera {
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 15%;
        margin-bottom: 0px;
    }
    .crear-producto-container .nuevo-producto-form .form-container-2 .section-3 .botonera .cancelar-btn{
        margin-top: 0;
    }
    .crear-producto-container .nuevo-producto-form .form-container-2 .section-3 .talle-precio-subcontainer {
        justify-content: space-evenly;
    }
    .crear-producto-container .nuevo-producto-form .form-container-2 .section-3 .talle-precio-subcontainer .talle-subcontainer {
        width: 100px;
    }
    
        /*newProduct.ejs - END*/

        /*productDetail.ejs - START */
    .contenedor-producto-detalle{
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
 
    }

    .contenedor-producto-detalle .producto-detalle-caja-1{
        align-items: center;
        display: flex;
        height: 100%;
        width: 100%;
    }

    .contenedor-producto-detalle .producto-detalle-caja-1 .producto-detalle-img{
        height: 100%; 
        width: 100%; 
    }

    .contenedor-producto-detalle .producto-detalle-caja-2{
        text-align: center;
        height: 100%;
        width: 100%;
    }

    .producto-detalle-boton-carrito{
        background-color:#000000;
        border-color: #d8d8d8;
        border-width: 1px;
        border-style: solid;
        color:#f9f9f9;
        font-weight: 200;
        font-size: 16px;
        padding-top:15px;
        padding-bottom:15px;
        padding-left:40px;
        padding-right:40px;
        text-decoration:none;
        margin-bottom: 5px;
    }
    .productos-relacionados-container .child-container {
        align-items: center; 
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        
     }
     .productos-relacionados-container .child-container > a{
        width: 20%;
        margin: 0%; 
     }

     .productos-relacionados-container .child-container > a .flex-item > img {
        height: 110px;
        width: 110px;
    }
    /*productDetail.ejs - END */
    
    /*productList.ejs - START */

    .products-list-container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    /*productList.ejs - END */

    /*register.html - START*/
    .register-container .register-form {
        width: 50%;
    }
    .register-container .registrarse-google-container {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-items: center;
        width: 50%;
    }
    .register-container .registrarse-google-container > button{
        width:100%;
    }
    .register-container .register-form .botonera-section{
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }
    .register-container .register-form .botonera-section > button {
        margin-top: 0%;
    }
    .wrapper .wrapper-form{
        padding: 30px 25px 25px 25px;
        width: 50%;
    }
    /*register.html - END*/

    /*usersList.ejs - START*/

    .users-list-main-container .user-container .image-id-container {
        width: 250px;
    }

    .users-list-main-container .user-container .data-container .email{
        display: block;
    }

    /*usersList.ejs - END*/

  /*userDetail.ejs - START*/
      .user-detail-container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .user-detail-container .user-subcontainer{
    width: 40%;
    }

    .user-detail-container .user-subcontainer .user-subcontainer-title{
        justify-content: space-between;
    }

    .user-detail-container .user-subcontainer .user-subcontainer-img_p{
        justify-content: left;
    }

    .user-detail-container .user-subcontainer .user-subcontainer-img_p .user-subcontainer-left{
        width: 60%;
    }

    .user-detail-container .user-subcontainer .user-subcontainer-img_p .user-subcontainer-left .user-subcontainer-img_avatar{
        border-radius: 50%;
        width: 100%;
        height: 65%;
    }
    .user-detail-container .user-subcontainer .user-subcontainer-buttons .user-subcontainer-button_1{
        width: 128px;

    }

    .user-detail-container .user-subcontainer .user-subcontainer-buttons .user-subcontainer-button_2{
        width: 112px;
        height: 40px;
    }
    .user-detail-container .user-subcontainer .user-subcontainer-img_p .user-subcontainer-left .user-subcontainer-img_avatar{
        border-radius: 50%;
        width: 55%;
        height: 55%;
    }
        /*userDetail.ejs - END*/

/*MAIN - END*/

/*FOOTER - START*/
    .cart-footer .footer-container{
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .cart-footer .footer-container .logo-img{
        display: block;
        height: 15%;
        width: 15%;
    }

    .principal-footer-container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .principal-footer-container .newsletter-container{
        text-align: left;
    }

/*FOOTER - END*/

}

@media (min-width: 1160px) {

    .nav-container-2{
        align-items: center;
        display: flex;
        flex-wrap: wrap; 
        justify-content:center;
        text-align: center;
    }
    .nav-container-2 .nav-item {
        display: flex;
        flex-direction: row;
        padding: 1.75rem 1.5rem;
        list-style: none;
        justify-content: space-between;
    }
    
    .nav-container .toggle{
        display: none; /*Hamburguer menu hide*/
    }

    .nav-container-2 ul {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0%;
       
    } 
/*HEADER - END*/

/*MAIN - START*/

    .create-form-home .control-formulario{
        margin-bottom: 15px;
        width: 40%;
        
    }
    
    .conteCarrousel{
        width: 100%;
        height: 300px;
        overflow: hidden;
    }
    .contenedor-productos-home .elements-subcontainer .truck-icon-container .fa-truck {
        font-size: 16px;
        height: 30px;
        right: 20px;
        width: 30px;
    }
    .contenedor-productos-home .elements-subcontainer .img-container > img{
        width: 280px;
        height: 280px;
    }
    /*home.ejs - END*/

    /* branches.ejs- START */
   .branches-main-container .branches-main-subcontainer{
        width: 60%;
    }

    .branches-main-container .branches-main-subcontainer .branches-subcontainer-article .branches-article_div_map .div-map{
        width: 350px;
        height: 300px;
        margin-bottom: 20px;
    }
            /* branches.ejs- END */

    /* login.ejs - START */
    .container-login .wrapper-form .login-form-row .input-login{
        width: 605px; 
    }

    .container-login .wrapper-form .options-row{  
        width: 605px;
    }
    /* login.ejs - END */

    .finalizar-compra-section{
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    .finalizar-compra-section .discount-container .banner-cuotas-tarjetas{
        display: block;
        padding-top: 20px;
    }
    .finalizar-compra-section .discount-container > form > input{
        width: 40%
    }
    .finalizar-compra-section .precio-and-btn-container .iva-container{
        width: 100%;
    }
    .finalizar-compra-section .precio-and-btn-container .iva{
        text-align: right;
    }

    .finalizar-compra-section .precio-and-btn-container .precio-container{
        justify-content: space-between;
        width: 100%;
    }
    
    .finalizar-compra-section .precio-and-btn-container .proceder-compra-btn{
        margin-top: 10px;
        width: 260px;
    
    }

    .finalizar-compra-section .precio-and-btn-container .subtotal-container{
        justify-content: space-between;
        width: 100%;
    }

    .newsletter-contenedor__iconos > i{
        margin: 20px;
        font-size: 80px;
        margin-bottom: 200px;
    }
    .product-container{
        justify-content: space-between;
    }
    .product-container .price-container-desktop{
        border-left: 1px solid black;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        width: 22%;
    }
    .product-container .price-container-desktop .sub-container-1{
        align-items: center;
        border-bottom: 1px solid black;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: nowrap;
        padding-bottom: 10px;
        padding-left: 30px;
 
    }
    .product-container .price-container-desktop .sub-container-2{
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        padding-left: 30px;
    }

    .product-container .sub-container-botonera-container{
        width: 25%;

    }

    .product-container .sub-container-botonera-container .sub-container-1 .product-img {
        height: 55%;
        width: 55%;
    }

    .product-container .sub-container-botonera-container .sub-container-1 .product-title-off-price-conteiner .product-price-mobile {
        display: none;
    }
    /*editProduct.ejs - START*/

    .edit-producto-container .edit-producto-form .form-container-1 .section-1 .descripcion-subcontainer > textarea {
        height: 100%;
    }
    
    /*editProduct.ejs - END*/

    /*newProduct.ejs - START*/

    .crear-producto-container .nuevo-producto-form .form-container-1 .section-1 .descripcion-subcontainer > textarea {
        height: 100%;
    }

    /*newProduct.ejs - END*/

    /*productDetail.ejs - START */
    .contenedor-producto-detalle{
        flex-direction: row;
        justify-content: space-around;
    }

    .contenedor-producto-detalle .producto-detalle-caja-1{
        align-items: center;
        display: flex;
        height: 60%;
        width: 70%;
    }

    .contenedor-producto-detalle .producto-detalle-caja-1 .producto-detalle-img{
        border: solid 1px black;
        height: 95%; 
        width: 95%; 
    }

    .contenedor-producto-detalle .producto-detalle-caja-2{
        text-align: center;
        height: 100%;
        width: 100%;
    }

    .contenedor-producto-detalle .producto-detalle-caja-2 .producto-detalle-titulo-talles{
        font-size: 20px;
    }

    .producto-detalle-boton-carrito{
        background-color:#000000;
        border-color: #d8d8d8;
        border-width: 1px;
        border-style: solid;
        color:#f9f9f9;
        font-weight: 200;
        font-size: 18px;
        padding-top:15px;
        padding-bottom:15px;
        padding-left:40px;
        padding-right:40px;
        text-decoration:none;
    }

    .productos-relacionados-container .child-container > a .flex-item > img {
        height: 180px;
        width: 180px;
    }

    /* productDetail.ejs - END */

    /*register.html - START*/
    .register-container{
        flex-direction: column-reverse;
    }

    .register-container .register-form{
        margin-top: 0%;
    }
    .register-container .register-form .contrasena-section .confirmar-contrasena{
        margin-bottom: 2%;
    }

    .register-container .register-form .botonera-section > button {
        font-size: 16px;
        margin-top: 0%;
        padding-bottom: 1%;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 1%;
    }

    .register-container .register-form > section > input{
        padding: 2%;
    }

    .register-container  .registrarse-google-container{
        margin-top: 5%;
    }

    .register-container  .registrarse-google-container .registrarse-google-btn{
        padding: 2%;
    }
    .register-container  .registrarse-google-container .registrarse-google-btn  > p{
        font-size: 18px;
        text-align: center;
    }
    .register-container  .registrarse-google-container .registrarse-google-btn  > i{
        font-size: 16px;
    }
    /*register.ejs - END*/

    /*usersDetail.ejs - START*/
    .user-detail-container .user-subcontainer .user-subcontainer-buttons .user-subcontainer-button_1{
        height: 30px;
    }
    .user-detail-container .user-subcontainer .user-subcontainer-buttons .user-subcontainer-button_2{
        height: 30px;
        width: 160px;
    }

    /*usersDetail.ejs - END*/

    /*usersList.ejs - START*/

    .users-list-main-container .user-container .image-id-container {
        width: 350px;
    }

    /*usersList.ejs - END*/
/*MAIN - END*/    

/*FOOTER - START*/

    .principal-footer-container .locales-container{
        display: block;
    }
    .principal-footer-container .locales-container > ul{
        padding-left: 15px;
    }
/*FOOTER - END*/
   
}

