*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    /* CARROUSEL */
.carrousel{
    width: 100%;
}

.conteCarrousel{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.conteCarrousel .itemCarrousel{
    position: relative;
    width: 100%;
    height: 100%;
}

.conteCarrousel .itemCarrousel .itemCarrouselTarjeta{
    width: 100%;
    height: 100%;
}

.conteCarrousel .itemCarrousel .itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
}

.itemCarrouselArrows > i:hover {
    cursor: pointer;
}

.itemCarrouselArrows > a > i{
    color: white;
}

.itemCarrousel-img{
    width: 100%;
    height: 100%;
}
    /* Fin del CARROUSEL */

    /* PRODUCTOS */
.titulo{
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    font-size: 15px;
    margin-top: 20px;
}

hr{
 margin-top: 20px;
  height: 1px;
  width: 50px;
background-color: black;
}

.contenedor-productos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item-caja img{
    width: 160px;
    height: 160px;
}

.contenedor-productos .item-caja{
    margin: 15px;
}

.item-caja p{
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
}
    /*Fin de PRODUCTOS */

/* Carrousel OFERTAS */
.carrousel-ofertas{
     width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.carrousel-ofertas .conte-carrousel-ofertas{
   width: 85%;
    height: 400px;
    overflow: hidden;
}

.carrousel-ofertas .conte-carrousel-ofertas .item-carrusel-ofertas{
    border: solid 1px black;
    height: 200px;
    position: relative;
}

.carrousel-ofertas .conte-carrousel-ofertas .tarjetas-carrusel-ofertas{
    height: 100%;
}

.carrousel-ofertas .conte-carrousel-ofertas .item-carrousel-ofertas{
    position: relative;
     width: 100%;
    height: 100%;
}

.carrousel-ofertas .conte-carrousel-ofertas .item-carrousel-ofertas .item-carrousel-Tarjeta-ofertas{
    width: 100%;
    height: 100%;
}

.carrousel-ofertas .conte-carrousel-ofertas .item-carrousel-ofertas .item-carrousel-arrows-ofertas{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
}

.carrousel-ofertas .conte-carrousel-ofertas .item-carrousel-ofertas .item-carrousel-arrows-ofertas > i:hover{
    cursor: pointer;
}

.carrousel-ofertas .conte-carrousel-ofertas .item-carrousel-ofertas .item-carrousel-arrows-ofertas > a > i{
    color:white;
}

.carrousel-ofertas .conte-carrousel-ofertas .item-carrousel-ofertas .item-carrousel-arrows-ofertas h2{
    background-color: rgba(255, 255, 255, 0.721);
    padding: 10px;
    border-radius: 5px;
}
/* Fin de Carrousel OFERTAS */

/* FORMULARIO */
.newsletter-titulo{
     display: flex;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    font-size: 15px;
}

.create-form{
    display: flex;
    flex-direction: column;
    align-items:   center ;
    height: 200px;
    padding: 20px 15px;
    justify-content: space-evenly;
}


.create-form .control-formulario{
    margin-bottom: 15px;
    width: 60%;
}

.create-form .control-formulario .control{
    text-align: left;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}

.create-form .boton-formulario{
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:#f9f9f9;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:#444444;
    border-color: #d8d8d8;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
}

.newsletter-contenedor__iconos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.newsletter-contenedor__iconos > i{
    margin: 20px;
    font-size: 50px;
    margin-bottom: 150px;
}
/* Fin de FORMULARIO */


/* Carrousel Envios */
.color-de-fondo{
    width: 100%;
    border: solid 20px black;
    margin-bottom: 235px;
}

.carrousel-envios{
    width: 100%;
}

.carrousel-envios-contenedor{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 80%;
}

.carrousel-envios .conte-carrousel-envios{
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-color: black;
 
}

.carrousel-envios .conte-carrousel-envios .item-carrousel-envios{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

.carrousel-envios .conte-carrousel-envios .item-carrousel-envios .item-carrousel-tarjetas-envios{
    width: 100%;
    height: 100%;
    display: flex;
   justify-content: center;
   align-items: center;
}

.carrousel-envios .conte-carrousel-envios .item-carrousel-envios .item-carrousel-arrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
}

.item-carrousel-arrows > i:hover {
    cursor: pointer;
}

#carrousel-envios-1{
    background-color: white;
}

#carrousel-envios-2{
    background-color: white;
}

#carrousel-envios-3{
    background-color: white;
}

.puntos-carrusel-contralador{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 170px;
}

.carrousel-envios .puntos-carrusel-contralador > a{
    text-decoration: none;
    font-size: 2em;
    color: grey;
}

.carrousel-envios .conte-carrousel-envios .item-carrousel-envios .item-carrousel-arrows > a > i{
    color: black;
}


.carrousel-envios .conte-carrousel-envios .item-carrousel-envios .item-carrousel-tarjetas-envios .carrousel-envios-contenedor .icono-credit-card{
    font-size: 30px;
}

.carrousel-envios .conte-carrousel-envios .item-carrousel-envios .item-carrousel-tarjetas-envios .carrousel-envios-contenedor .carrousel-link-ver-mas{
    text-decoration: none;
    color: black;
}   


.color-de-fondo .carrousel-envios .puntos-carrusel-contralador-2{
    width: 100%;
    display: flex;
    justify-content: center;
}
/* Fin de Carrousel Envios */

/* FOOTER */
.contendero-footer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.footer{
    flex-direction: column;
    width: 80%;
    height: 80%;
    margin-top: 50px;
}

.footer-contenedor-ul{
    width: 50%;
    background-color: rgb(242, 239, 239);
    margin: 40px;
    margin-bottom: 20px;
}

.footer .footer-contenedor-ul .footer-contenedor__titulo{
    font-size: 24px;
    margin-bottom: 5px;
    padding: 5px;
    color: black;
}

.lista-link{
    list-style:none;
    text-decoration: none;
    padding: 5px;
    color: rgb(79, 78, 78);
    font-size: 20px;
}

.footer-copy{
    text-align: center;
}
/* Fin del FOOTER */


/* LOGIN */
.contenedor-login{
  padding: 0 20px;
  margin: 170px auto;

}

.contenedor-login .wrapper{
  width: 100%;
  background: #fff;
  border-radius: 5px;
}

.contenedor-login .wrapper{
  height: 90px;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-login .wrapper .wrapper-form{
  padding: 30px 25px 25px 25px;  
}

.contenedor-login .wrapper .wrapper-form .row{
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}

.wrapper .wrapper-form .row input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  border: 1px solid lightgrey;
  font-size: 16px;
}

.contenedor-login .wrapper .wrapper-form .row input:focus{
  border-color: goldenrod;
}

.contenedor-login .wrapper .wrapper-form .row input::placeholder{
  color: #999;
}

.contenedor-login .wrapper .wrapper-form .row .icono-login{
  position: absolute;
  width: 47px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-login .wrapper .wrapper-form .pass{
  margin: -20px 0 20px 0;
}

.contenedor-login .wrapper .wrapper-form .pass a{
  color: black;
  font-size: 13px;
  text-decoration: none;
}

.contenedor-login .wrapper .wrapper-form .button input{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: black;
  cursor: pointer;
    border-radius: 70px;
}

.contenedor-login .wrapper .wrapper-form .button2 input{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: black;
  cursor: pointer;
  margin-top: 10px;
}

.contenedor-login .wrapper .wrapper-form .button3 input{
  color: rgb(84, 84, 84);
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: rgb(241, 103, 52);
  cursor: pointer;
  margin-top: 10px;
}

.contenedor-login .wrapper .wrapper-form .signup-link{
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
  color: black;
}
/* Fin del LOGIN */


/* Media Queries */
@media (min-width: 700px){
     /* PRODUCTOS */
.item-caja img{
    width: 200px;
    height: 220px;
}

.item-caja{
    margin: 20px;
}
/*Fin del PRODUCTOS */
 
 /* NEWSLETTER */
.control-formulario{
    margin-bottom: 15px;
    width: 40%;
}

.newsletter-contenedor__iconos > i{
    margin: 20px;
    font-size: 60px;
}
 /* Fin del NEWSLETTER */

/* Footer */
.contendero-footer{
    width: 100%;
    height: 100%;
}

.footer{
  display: flex;
  flex-direction: row;
}

.footer-contenedor{
    width: 100%;
    margin-bottom: 20px;
}

.footer-contenedor__titulo{
    font-size: 24px;
    margin-bottom: 5px;
}

.lista-link{
    list-style:none;
    text-decoration: none;
}

.footer-copy{
    text-align: center;
}
/* Fin del Footer */

/* LOGIN */
.wrapper .wrapper-form{
  padding: 30px 25px 25px 25px;
  width: 50%;
}
/* Fin del LOGIN */

}

/* Media Queries desktop*/
@media (min-width: 1160px){
    
/* CARROUSEL  */
.conteCarrousel{
    width: 100%;
    height: 300px;
    overflow: hidden;
}
/* PRODUCTOS */
.item-caja img{
    width: 280px;
    height: 280px;
}

.item-caja{
    margin: 25px;

}
/* Fin de PRODUCTOS */

/* Carrousel OFERTAS */
.carrousel-ofertas{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.conte-carrousel-ofertas{
   width: 60%;
    height: 300px;
    overflow: hidden;
}
/* Fin de Carrousel OFERTAS */

/* NEWSLETTER */
.control-formulario{
    margin-bottom: 15px;
    width: 40%;
    
}

.newsletter-contenedor__iconos > i{
    margin: 20px;
    font-size: 80px;
    margin-bottom: 200px;
}
/* Fin de NEWSLETTER */

/* FOOTER */
.contendero-footer{
    width: 100%;
    height: 100%;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.footer-contenedor{
    width: 30%;
    margin-bottom: 20px;        
}

.footer-contenedor__titulo{
    font-size: 24px;
    margin-bottom: 5px;
}

.lista-link{
    list-style:none;
    text-decoration: none;
}

.footer-copy{
    text-align: center;
}
/* Fin del FOOTER */

/* LOGIN */
.wrapper .wrapper-form{
  padding: 30px 25px 25px 25px;
  width: 50%;
}
/* Fin del LOGIN */

}