<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <%- include('./partials/mobileNavBar') %>
    <main>
      <section class="branches-main-container">
        <article class="branches-main-subcontainer">  
            <article class="branches-subcontainer-article_title">
                <h1 class="branches-subcontainer-title"> Sucursales </h1> 
            </article>
            
            <article class="branches-subcontainer-article">
                <div class="branches-article_div">
                    <h3> <i class="fa-solid fa-location-dot"></i> Capital Federal </h3>
                    <p>Av. Santa Fe 1335</p>
                    <p>Tel: 4813-3426</p>
                    <p>Lun a Vie 11 a 19 hs.</p>
                    <p>Sáb 10 a 17 hs.</p>
                </div>
             
                <div class="branches-article_div_map">
                    
                    <iframe class="div-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.34251364735!2d-58.38818568417513!3d-34.595499464571496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccab9a7a73601%3A0xce9f5a0a8e80a4bc!2sAv.%20Santa%20Fe%201301%2C%20C1061%20CABA!5e0!3m2!1ses!2sar!4v1657951375527!5m2!1ses!2sar" ></iframe>
                </div>
            </article>

            <article class="branches-subcontainer-article">
                <div class="branches-article_div">
                    <h3> <i class="fa-solid fa-location-dot"></i> Rosario </h3>
                    <p>Corrientes 1163 - Rosario, Santa Fe</p>
                    <p>Tel: 4513-2517</p>
                    <p>Lun a Vie 11 a 19 hs.</p>
                    <p>Sáb 10 a 17 hs.</p>
                </div>
                <div class="branches-article_div_map">
                    <iframe class="div-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3348.0287298200815!2d-60.64567758485787!3d-32.950250880920024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7ab11247fa129%3A0x6da1bd1f862eb6f6!2sCorrientes%201163%2C%20S2000CTK%20Rosario%2C%20Santa%20Fe!5e0!3m2!1ses!2sar!4v1657250503604!5m2!1ses!2sar"></iframe>
                </div>
            </article>

            <article class="branches-subcontainer-article">
                <div class="branches-article_div">
                    <h3> <i class="fa-solid fa-location-dot"></i> Córdoba </h3>
                    <p>José Manuel Estrada 199- Córdoba Capital, Córdoba</p>
                    <p>Tel: 4553-2678</p>
                    <p>Lun a Vie 11 a 19 hs.</p>
                    <p>Sáb 10 a 17 hs.</p>
                </div>

                <div class="branches-article_div_map">
                    <iframe class="div-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d35580.991068390045!2d-64.2159945272674!3d-31.41650237169915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a28e89d42a55%3A0x6630138ef8eb7b41!2sJos%C3%A9%20Manuel%20Estrada%20199%2C%20X5000BQC%20C%C3%B3rdoba!5e0!3m2!1ses!2sar!4v1657250994320!5m2!1ses!2sar"></iframe>
                </div>
            </article>

       
        </article>
      </section>  
    </main>
    <%- include('./partials/footerPrincipal') %>
</body>
</html>