<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <%- include('./partials/mobileNavBar') %>
   <main>
       <section class="main-title-container">
            <div class="style-div">
                <div class="flex-container">
                    <article class="sub-container-1">
                        <h4 class="item-title">Carrito de compras</h4>
                        <p class="item">"cantidad" productos</p>
                    </article>
                    <article class="sub-container-2">
                        <span class="lock-title-span">
                            <i class="fa-solid fa-lock"></i>
                            <h4 class="item">Sitio</h4>
                        </span>
                        <p class="item">protegido</p>
                    </article>
                </div>
            </div>
        </section>
       <section>
            <article class="product-container">
                <section class="sub-container-botonera-container">
                    <section class="sub-container-1">
                        <img class="product-img"src="/images/products/zapato_cuero_suela_1.jpg" alt="Producto">
                        <div class="product-title-off-price-conteiner">
                            <h4 class="product-title">Titulo</h4>
                            <p class="product-off">%Off</p>
                            <p class="product-price-mobile">$$$$$$$</p>
                        </div>
                    </section>
                    <section class="botonera">
                        <button><i class="fa-solid fa-trash" id="btn-icon"></i>Eliminar</button>
                        <button><i class="fa-solid fa-bookmark" id="btn-icon"></i>Agregar a favoritos</button>
                    </section>
                </section>
                <section class="description-container">
                    <div  class="description-subcontainer">
                        <p class="title">Color:</p>
                        <p class="value">xxxxx</p>
                    </div>
                    <div class="description-subcontainer">
                        <p class="title">Talle:</p>
                        <p class="value">xxxxx</p>
                    </div>
                    <div class="description-subcontainer">
                        <p class="title">Cantidad:</p> 
                        <select name="cantidad-value" id="select-cantidad">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">4</option>
                        </select>
                    </div>
                </section>
                <section class="price-container-desktop">
                    <div class="sub-container-1">
                        <p class="title">Precio unitario:</p>
                        <p class="price">$$$$$$$$$</p>
                    </div>
                    <div class="sub-container-2">
                        <p class="title">Total:</p>
                        <p class="total">$$$$$$$$$</p>
                    </div>
                </section>
            </article>
            <article class="product-container">
                <section class="sub-container-botonera-container">
                    <section class="sub-container-1">
                        <img class="product-img"src="/images/products/zapato_cuero_punta_negro_1.jpg" alt="Producto">
                        <div class="product-title-off-price-conteiner">
                            <h4 class="product-title">Titulo</h4>
                            <p class="product-off">%Off</p>
                            <p class="product-price-mobile">$$$$$$$</p>
                        </div>
                    </section>
                    <section class="botonera">
                        <button><i class="fa-solid fa-trash" id="btn-icon"></i>Eliminar</button>
                        <button><i class="fa-solid fa-bookmark" id="btn-icon"></i>Agregar a favoritos</button>
                    </section>
                </section>
                <section class="description-container">
                    <div  class="description-subcontainer">
                        <p class="title">Color:</p>
                        <p class="value">xxxxx</p>
                    </div>
                    <div class="description-subcontainer">
                        <p class="title">Talle:</p>
                        <p class="value">xxxxx</p>
                    </div>
                    <div class="description-subcontainer">
                        <p class="title">Cantidad:</p> 
                        <select name="cantidad-value" id="select-cantidad">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">4</option>
                        </select>
                    </div>  
                </section>
                <section class="price-container-desktop">
                    <div class="sub-container-1">
                        <p class="title">Precio unitario:</p>
                        <p class="price">$$$$$$$$$</p>
                    </div>
                    <div class="sub-container-2">
                        <p class="title">Total:</p>
                        <p class="total">$$$$$$$$$</p>
                    </div>
                </section>
            </article>
            <article class="product-container">
                <section class="sub-container-botonera-container">
                    <section class="sub-container-1">
                        <img class="product-img"src="/images/products/bota_chelsea_cuero_negro_1.jpg" alt="Producto">
                        <div class="product-title-off-price-conteiner">
                            <h4 class="product-title">Titulo</h4>
                            <p class="product-off">%Off</p>
                            <p class="product-price-mobile">$$$$$$$</p>
                        </div>
                    </section>
                    <section class="botonera">
                        <button><i class="fa-solid fa-trash" id="btn-icon"></i>Eliminar</button>
                        <button><i class="fa-solid fa-bookmark" id="btn-icon"></i>Agregar a favoritos</button>
                    </section>
                </section>
                <section class="description-container">
                    <div  class="description-subcontainer">
                        <p class="title">Color:</p>
                        <p class="value">xxxxx</p>
                    </div>
                    <div class="description-subcontainer">
                        <p class="title">Talle:</p>
                        <p class="value">xxxxx</p>
                    </div>
                    <div class="description-subcontainer">
                        <p class="title">Cantidad:</p> 
                        <select name="cantidad-value" id="select-cantidad">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">4</option>
                        </select>
                    </div>
                </section>
                <section class="price-container-desktop">
                    <div class="sub-container-1">
                        <p class="title">Precio unitario:</p>
                        <p class="price">$$$$$$$$$</p>
                    </div>
                    <div class="sub-container-2">
                        <p class="title">Total:</p>
                        <p class="total">$$$$$$$$$</p>
                    </div>
                </section>
            </article>
       </section>
       <section class="finalizar-compra-section">
            <section class="discount-container">
                <form action="/discount-code" method="POST">
                    <label for="discount-code">Codigo de descuento</label>
                    <input type="text" class="discount-code">
                    <button>Agregar</button>
                </form>
                <img src="/images/cart/banner_cuotas_tarjetas_bottom.jpg" alt="Banner - Tarjetas - Cuotas sin interes" class="banner-cuotas-tarjetas">
            </section>
            <section class="precio-and-btn-container">
                <div class="subtotal-container">
                    <p class="title">Subtotal:</p>
                    <p class="price">$$$$$$$$$</p>
                </div>
                <div class="precio-container">
                    <p class="title">Total:</p>
                    <p class="price">$$$$$$$$$</p>
                </div>
                <div class="iva-container">
                    <p class="iva">IVA incluido</p>
                </div>
                <button class="proceder-compra-btn">Proceder a la compra</button>
            </section>
       </section>
    </main>
   <footer class="cart-footer">
        <div class="footer-container">
            <div class="sitio-seguro-container">
                <span class="lock-title-span">
                    <h4>Compra segura</h4>
                    <i class="fa-solid fa-lock"></i>   
                </span>
                <p> Sitio seguro con criptografía (SSL)</p>
            </div>
            <img src="/images/logo.svg" class="logo-img" alt="Logo">
        </div>
   </footer>
</body>
</html>