<footer>
    <section class="principal-footer-container">
      <article class="locales-container">
        <h3>Locales</h3>
        <ul>
          <li><p>Av. Santa Fé 3150 - Capital Federal</p></li>
          <li><p>Corrientes 1163 - Rosario, Santa Fé</p></li>
          <li><p>José Manuel Estrada 199 - Córdoba<br>Capital, Córdoba</p></li>
        </ul>
      </article>
      <article class="social-media-container">
        <h3>Seguinos</h3>
        <a href="https://www.facebook.com/">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </article>
      <article class="envios-container">
        <div class="title">
          <h3>Enviamos tu compra</h3>
          <i class="fa-solid fa-truck-fast"></i>
        </div>
        <p>Entregas a todo el pais</p>
      </article>
      <article class="newsletter-container">
        <h3>NEWSLETTER</h3>
        <p>Enterate primero de todas las novedades!</p>
        <form action="/newsletter" method="POST" class="newsletter-form">
          <input type="email" name="email" class="email" placeholder="Email" required>
          <input type="submit"></input>
        </form> 
      </article>
    </section>
    <section class="copyright-container">
      <small>Copyright Cruz - 2022</small>
    </section>
  </footer>