<section class="mobile-navbar-container">
    <nav class="main-menu">
        <ul class="submenu-container-1">
            <li class="menu-item"><a href="/" class="item-link">Home</a></li>
            <li class="menu-item"><a href="/productos" class="item-link">Productos</a></li>
            <li class="menu-item"><a href="/sucursales" class="item-link">Sucursales</a></li>
            <li class="menu-item"><a href="#" class="item-link">Nosotros</a></li>
            <li class="menu-item"><a href="#" class="item-link">Contacto</a></li>
        </ul>
        <ul class="submenu-container-2">
            <li class="menu-item" id="login-btn">
                <a href="/usuarios/login" class="item-link">
                    <i class="fa-solid fa-address-card"></i>
                    Iniciar Sesión
                </a>
            </li>
            <li class="menu-item" id="register-btn">
                <a href="/usuarios/register" class="item-link">
                    <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    Registrarse
                </a>
            </li>
            <li class="menu-item" id="profile-btn">
                <a href="/usuarios/profile" class="item-link">
                    <i class="fa-solid fa-user"></i>
                    Mi perfil
                </a>
            </li>
            
        </ul>
    </nav>
</section>
<script src="/js/mobileNavBarEvents.js"></script>
