<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log-In</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script
      src="https://kit.fontawesome.com/b7372bc3ff.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
  <%- include('../partials/header') %>
  
      <main class="contenedor-login">
        <section class="wrapper">
          <form class="wrapper-form" action="#">
            <article class="row">
              <i class="icono-login fas fa-user"></i>
              <input type="email" placeholder="Email" required />
            </article>
            <article class="row">
              <i class="icono-login fas fa-lock"></i>
              <input type="password" placeholder="Contraseña" required />
            </article>
            <article class="pass"><a href="#">¿Has olvidado tu contraseña?</a></article>
            <article class="row button">
              <input type="submit" value="Inicia sesión" />
            </article>
            <article class="signup-link">¿No eres Miembro?</article>
            <article class="row button2">
              <input type="submit" value="Crear Cuenta" />
            </article>
            <article class="signup-link">O</article>
            <article class="row button3">
              <input type="submit" value="Continuar con Google" />
            </article>
          </form>
        </section>
      </main>
  
  <%- include('../partials/footerPrincipal') %>

    <!-- /login -->
  </body>
</html>
